<!DOCTYPE html>
<html>

<head>
  <title>가지 돌리기</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/jquery3.1.1.js'></script>
  <script src='/javascripts/jquery-animate-css-rotate-scale.js'></script>
</head>

<body>

  <div style="background-color:turquoise; height: 100px; position: relative">
    <input type="button" id='gaji'  value="SPIN EGGPLANT" style="font-display:inherit; position:absolute; left:100px; color:black; font-size:30px; top:25%;">
    <input type="button" id='arrow' value="SPIN ARROW"style="font-display:inherit; position:absolute; left:450px; color:lightsalmon; font-size:30px; top:25%;">
    <input type="button" id='doge'  value="BLACK JACK DOGE" style="font-display:inherit; position:absolute; left:800px; color:lightcoral; font-size:30px; top:25%"> 
</div>

  <div id='background' style="text-align: center;">

    <img id='img1' src='/images/gaji.jpg' /> 
  </div>

  <div style="text-align:center">
    <input id='spin' type="button" value="가지 돌리기" />
  </div>
  <div style="text-align:center">
    <input id='stop' type="button" value="가지 멈추기" style="background-color: black; color:white;"/>
  </div>

  </form>

  <form id='arrow'action='/arrow' style='display:none'>
  </form>

  <script>

    function getRotationDegrees(obj) {
      var matrix = obj.css("-webkit-transform") ||
        obj.css("-moz-transform") ||
        obj.css("-ms-transform") ||
        obj.css("-o-transform") ||
        obj.css("transform");
      if (matrix !== 'none') {
        var values = matrix.split('(')[1].split(')')[0].split(',');
        var a = values[0];
        var b = values[1];
        var angle = Math.round(Math.atan2(b, a) * (180 / Math.PI));
      } else { var angle = 0; }
      return (angle < 0) ? angle + 360 : angle;
    } 
    var ok;
    ok++;

    function rotate_img() {
     
          $('#img1').animate({ rotate: '+=720deg' },9000, function () {
            $('#deg_val').val(getRotationDegrees($('#img1')));
          });
        }
    var interval;

    $(document).on('click', '#spin', function () { 
      
      interval = setInterval(
        
        function () {
          rotate_img();
         
          
            var num1 = Math.floor(Math.random() * 255) + 1;
            var num2 = Math.floor(Math.random() * 255) + 1;
            var num3 = Math.floor(Math.random() * 255) + 1;
            var value = 'rgb(' + num1 + ',' + num2 + ',' + num3 + ')';
            $('#background').css('background-color', value);

           
          }, 250);
    })

    $(document).on('click','#stop', function(){
      clearInterval(interval);
    })

    $(document).on('click', '#arrow', function() {
      alert("ARROW로 변환합니다.");
      //$('#ARROW').submit();
      window.location.href = '/arrow';
    })

    $(document).on('click', '#gaji', function(){
      alert("이미 GAJI 상태입니다.");
    })  

    $(document).on('click', '#doge', function() {
      alert("DOGE BLACKJACK MODE");
      window.location.href = '/doge';
    })

  </script>

</body>

</html>