<!DOCTYPE html>
<html>

<head>
  <title>SPIN CARL</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/jquery3.1.1.js'></script>
  <script src='/javascripts/jquery-animate-css-rotate-scale.js'></script>
</head>

<body>

  <div style="background-color:turquoise; height: 100px; position: relative">
    <div style="font-display:inherit; position:absolute; left:350px; color:black; font-size:30px;"> #가지돌리기</div>
    <div style="font-display:inherit; position:absolute; left:700px; color:lightsalmon; font-size:30px;"> #화살표모양 칼돌리기</div>
  </div>

  <div id='background' style="text-align: center;">

    <img id='img1' src='/images/ARROW.jpg' /> 
  </div>

  <div style="text-align:center">
    <input id='spin' type="button" value="칼돌리기" />
  </div>
  <div style="text-align:center">
    <input id='stop' type="button" value="칼멈추기" style="background-color: black; color:white;"/>
  </div>
  <script>

    function getRotationDegrees(obj) {
      var matrix = obj.css("-webkit-transform") ||
        obj.css("-moz-transform") ||
        obj.css("-ms-transform") ||
        obj.css("-o-transform") ||
        obj.css("transform");
      if (matrix !== 'none') {
        var values = matrix.split('(')[1].split(')')[0].split(',');
        var a = values[0];
        var b = values[1];
        var angle = Math.round(Math.atan2(b, a) * (180 / Math.PI));
      } else { var angle = 0; }
      return (angle < 0) ? angle + 360 : angle;
    } 
    var ok;
    ok++;

    function rotate_img() {
     
          $('#img1').animate({ rotate: '+=22.5deg' }, 100, function () {
          
            $('#deg_val').val(getRotationDegrees($('#img1')));
          });
        }
    var interval;

    $(document).on('click', '#spin', function () {
      
      
      interval = setInterval(
        
        function () {
          rotate_img();
         
          if(k=1)
          {
            var num1 = Math.floor(Math.random() * 255) + 1;
            var num2 = Math.floor(Math.random() * 255) + 1;
            var num3 = Math.floor(Math.random() * 255) + 1;
            var value = 'rgb(' + num1 + ',' + num2 + ',' + num3 + ')';
            $('#background').css('background-color', value);

            k--; 
          }}, 250);
      $('#img1').animate({ rotate: spin }, 0, function () {})

    })

    $(document).on('click','#stop', function(){
      clearInterval(interval);
      k++;
    })
  </script>

</body>

</html>