<!DOCTYPE html>
<html>
  <!--HTML에 대한 초기설정값-->
  <head>
    <title>Multiple</title> <!--타이틀임 ㅇㅇ 맨위에 뜨는거-->
    <link rel='stylesheet' href='/stylesheets/style.css' /><!-- 스타일 정의문서를 포함하는 방법-->
  </head>
  <body>
    
    <div style="font-size:60px; color:lavenderblush; background-color: #D6E6F0;">
      Have a nice day!<!--ㅇ아아알아아앙아ㅏ아앙ㅇㅇ아아ㅏ아아ㅏ앙ㅇㅇ아ㅏ아아아ㅏ아아아아ㅏㅏ아아ㅏ아아아아아아ㅏ아ㅏ아ㅏㅏ-->
    </div>

    <div style="font-size:50px;">
      oaoaoaoaoaoaoa
    </div>

    <img src='/images/hqdefault.jpg'/>
    <h1>hihihihihihihihihihihihi</h1>
  </p>Welcome to <%= title %></p>
  </body>
</html>







































