<!DOCTYPE html>
<html>
  <head>
    <title>Multiple</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>hihihihihihihihihihihihi</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
